@font-face {
  font-family: "iconfont"; /* Project id 2569691 */
  src: url("//at.alicdn.com/t/font_2569691_x8dctftv74j.woff2?t=1622022912731")
      format("woff2"),
    url("//at.alicdn.com/t/font_2569691_x8dctftv74j.woff?t=1622022912731")
      format("woff"),
    url("//at.alicdn.com/t/font_2569691_x8dctftv74j.ttf?t=1622022912731")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-67xiayiqu:before {
  content: "\e633";
}

.icon-gengduo:before {
  content: "\e60c";
}

.icon-gengduo1:before {
  content: "\e681";
}

.icon-search:before {
  content: "\e680";
}

.icon-shiping:before {
  content: "\e632";
}

.icon-icon_music_xaiyiqu:before {
  content: "\e631";
}

.icon-mv:before {
  content: "\e602";
}

.icon-music:before {
  content: "\e62b";
}

.icon-music1:before {
  content: "\e60a";
}

.icon-music2:before {
  content: "\e605";
}

.icon-stop:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e60b";
}

.icon-toright-copy:before {
  content: "\e601";
}

.icon-fanhui1:before {
  content: "\e603";
}

.icon-wode-copy:before {
  content: "\e604";
}

.icon-music3:before {
  content: "\e606";
}

.icon-stop1:before {
  content: "\e607";
}

.icon-cuowu:before {
  content: "\e7a4";
}

.icon-icon-19:before {
  content: "\e684";
}

.icon-fanhui5:before {
  content: "\e608";
}

.icon-bofang:before {
  content: "\e609";
}
