.box {
  width: 100%;
  height: 580px;
}
.box ul li {
  height: 30px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.box ul ul {
  padding-left: 25px;
}
.box ul ul li {
  border: 0;
  margin-top: 10px;
  font-size: 14px;
}
.box ul ul .meun {
  display: flex;
  justify-content: flex-start;
}
.box ul ul .meun span {
  margin-right: 10px;
}
.box ul ul .meun span:nth-child(2) {
  padding: 0 10px;
  height: 22px;
  border-left: 7px solid #207477;
}
