<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <link rel="stylesheet" href="../../css/生态雕塑.css">
    <style>
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材3/生态雕塑/大图.png">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <span><a href="../四季览园/四季览园.html" style="color: aliceblue;">四季览园</a></span>
            <span><a href="../园致景观/分区浏览.html" style="color: aliceblue;">园致景观</a></span>
            <span><a href="../主题花展/主题花展.html" style="color: rgb(23, 148, 6);">主题花展</a></span>
        </p>
    </div>
    <div class="boxMax">
        <span>生</span><span>态</span><span>雕</span><span>塑</span>
    </div>
    <div class="english">
        Ecological sculpture
    </div>
    <div class="page">
        <img class="page-img1" src="../../img/素材3/生态雕塑/仙人掌1.png" alt="">
        <img class="page-img2" src="../../img/素材3/生态雕塑/仙人掌2.png" alt="">
        <img class="page-img3" src="../../img/素材3/生态雕塑/仙人掌3.png" alt="">
        <img class="page-img4" src="../../img/素材3/生态雕塑/大仙人掌.png" alt="">
        <h3>“什么是生态雕塑”</h3>
        <p>在人类早期的艺术创作活动中,受工具及环境等因表影响,雕塑艺术多
            为就地取材,便用陶土石质等天然材科进行造型。所以说,这些材料不会对生态造成任何
            破坏。但随着历史发展,特别是进入百花卉放的当代后,雕塑艺术中可使用的现代材科变
            得纷繁复杂丰富的材料,使雕塑艺术枝繁叶茂的同时,也免不了面对另一个不争的事实--
            多数材料都具有消耗性、无法再生性的问题,雕塑生产过程中带来有关生态环境的破坏
            一--噪音、粉尘、不可将解的废料等。于是,呼吁对环境生态的保护、回归到可再生降
            解的环保材科中去的”生态雕塑”一调,逐渐走入了大众视野。随着城市的快速发展,生
            态雕塑更是频频被提及。</p>
        <h3>“生态雕塑与其他雕型有啥不一样?”</h3>
        <p>
            生态雕塑与其他雕塑形式有哪些区别?其中，最明显的区别便是材料的天然性及环保性,材科为可降解再生的
            天然材料,如进植、花卉、根、麻等,甚至是交度为主的度旧物.基于使用材科的特性
            ,生态雕塑区别于一般城市中的公共雕塑作品,既具备艺术观复性,又具备对生态环境
            的保护作用。在公园城市的推进速设中,生态雕塑更是必不可少的组成形式,是公园城
            市建设过程中的基石与砖瓦。
        </p>
        <h3>“生态雕塑与其他雕型有啥不--样?”</h3>
        <p>
            在城市雕塑与环境
            艺术研究中心的创作建念中,生态部塑的最大特点是它在城市生态环境中的标志性空
            问张力,通过艺术的手法将植物的生命做新的延伸,进入城市空间的视线,激起公众对
            城市生态的主动参与认同意识.<br>同时,它点缀着城市环境,和周围环境共<br>生共爱;作为
            公园城市的构建客体,它也<br>让城市空同更加丰硕,与城市发展相得益彩
        </p>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>