<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <link rel="stylesheet" href="../../css/观花指南.css">
    <style>
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材3/观花指南/大图.png">
        <p>观花指南<br><span>Guide that watch a flower</span></p>
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <span><a href="../四季览园/四季览园.html" style="color: aliceblue;">四季览园</a></span>
            <span><a href="../园致景观/分区浏览.html" style="color: aliceblue;">园致景观</a></span>
            <span><a href="../主题花展/主题花展.html" style="color: rgb(23, 148, 6);">主题花展</a></span>
        </p>
    </div>
    <div class="boxMax">
        <ul>
            <li>
                <img src="../../img/素材3/观花指南/圆图/黄秋英.png" alt="">
                <span>黄秋英</span>
                <span>6月-8月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/金丝梅.png" alt="">
                <span>金丝梅</span>
                <span>6月-7月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/海南菜豆树.png" alt="">
                <span>海南菜豆树</span>
                <span>4月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/秋英.png" alt="">
                <span>秋英</span>
                <span>6月-8月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/紫娇花.png" alt="">
                <span>紫娇花</span>
                <span>5月-7月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/白花洋紫荆.png" alt="">
                <span>白花洋紫荆</span>
                <span>3月-5月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/木芙蓉.png" alt="">
                <span>木芙蓉</span>
                <span>6月-10月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/绣球.png" alt="">
                <span>绣球</span>
                <span>6月-8月</span>
            </li>
            <li>
                <img src="../../img/素材3/观花指南/圆图/桂南木莲.png" alt="">
                <span>桂南木莲</span>
                <span>5月-6月</span>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="content1">
            <img src="../../img/素材3/观花指南/方形图/蜀葵.png" alt="">
            <p>
                鲜花山谷<br>观赏种类:蜀葵。<br>观赏指数:5月中旬起3级。<br>地址:金堂县转龙镇。<br>自驾路线:绕城高速螺狮坝立交出城一沪蓉高速一竹篙收费站右转入金乐路一淮金竹路行驶约7.5公里即到，或导航“鲜花山谷”。
            </p>
        </div>
        <div class="content1">
            <img src="../../img/素材3/观花指南/方形图/海棠.png" alt="">
            <p>
                成都市植物园<br>观赏种类:海棠。<br>观赏指数:2月中下旬起3级。<br>地址:金牛区天回镇。<br>公交线路:143、254、650、653、658659、660、X05路到植物园站下车即到。
            </p>
        </div>
        <div class="content1">
            <img src="../../img/素材3/观花指南/方形图/三角梅.png" alt="">
            <p>
                市区道路、绿地<br>一环路、二环路、人民南路华西坝、省体育馆、人南立交、天府大道天府绿道高升桥路、火车南站西路、苏坡立交、红星路、瑞南街等。<br>观赏种类:三角梅。<br>观赏指数:4月底起3级。
            </p>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>