<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <style>
        a {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材1/1.png">
    </div>
    <div class="nav">
        <p><span>游客服务</span><span>/Tour ist service</span></p>
        <p>
            <span style="color: rgb(23, 148, 6);">交通路线</span>
            <span><a href="./门票.html">门票信息</a></span>
            <span><a href="./时间.html">开放时间</a></span>
            <span><a href="./须知.html">入网须知</a></span>
        </p>
    </div>
    <div class="box">
        <div class="box-big">
            <br><br>
            <p>1.地铁3号线，植物园站：</p><br><br>
            <p>2.公交路线，254路、143路，650路，659路，660路</p><br><br>
            <p>X15，植物园站</p><br><br><br>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>