<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <style>
        .box {
            background: url(../../img/素材1/4.png);
        }

        .box-big p {
            line-height: 25px;
        }

        a {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材1/10.png">
    </div>
    <div class="nav">
        <p><span>游客服务</span><span>/Tour ist service</span></p>
        <p>
            <span><a href="./交通.html">交通路线</a></span>
            <span><a style="color: rgb(23, 148, 6);" href="./门票.html">门票信息</a></span>
            <span><a href="./时间.html">开放时间</a></span>
            <span><a href="./须知.html">入网须知</a></span>
        </p>
    </div>
    <div class="box" style="height: 610px;">
        <div class="box-big">
            <p>
                门票信息:10元/人(次)。门票只限一次性使用，出园后如需再次入园，需重新购票。<br>门票优惠信息:<br>(一)、入园门票优惠的范围和群体<br>1.半价优惠范围和群体<br>(1)青少年(儿童、学生、未成年人):6周岁(不含6周岁)-18周岁(含18周岁)未成年人、全日制在校大学本科及以下学历学生凭本人《学生证》，享受半价(每人每次5元);<br>(2)持《港澳居民来往内地通行证》、《台湾居民来往大陆通行证》或学生证等有效证件的香港、澳门、台湾等入境游青少年，享受半价(每人每次5元)。<br>2.团体优惠范围和群体<br>(1)全日制学校组织学生的集体活动入园，凭学校介绍信，享受半价(即:每人每次5元)优惠;<br>(2)成人团体20人及以.上享受八折优惠，每人每次8元。<br>3.《年票证》制<br>《年票证》制实行实名制管理，只限本人使用。《年票证》价格:120元/人.年，全年不限次数和时间。<br>(二)、入园免票优惠的范围和群体<br>1.未成年人6周岁(含6周岁)以下或身高1.3米(含1.3米)以下的儿童享受门票免票。<br>2.老年人60周岁(含60周岁)以.上老年人凭本人《退(离)休证》、《老年优待证》或《居民身份证》，享受门票免票
            </p>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>