<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <style>
        .box {
            background: url(../../img/素材1/4.png);
        }

        .box-big p {
            line-height: 25px;
        }

        a {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材1/9.png">
    </div>
    <div class="nav">
        <p><span>游客服务</span><span>/Tour ist service</span></p>
        <p>
            <span><a href="./交通.html">交通路线</a></span>
            <span><a href="./门票.html">门票信息</a></span>
            <span><a href="./时间.html">开放时间</a></span>
            <span style="color: rgb(23, 148, 6);">入园须知</span>
        </p>
    </div>
    <div class="box" style="height: 720px;">
        <div class="box-big">
            <p>
                尊敬的游客朋友:<br>公园是展示城市精神文明建设的窗口，是市民休闲、娱乐、健身的公共场所，
                为了确保正常的游览秩序和良好的游览环境，让您的游览过程开心愉快，感谢您配合如下工作:<br>一、
                入园游客须知<br>1、请您自觉遵守参观游览秩序，按开放时间出入园。闭园后不得在园内逗留、露宿。
                <br>2请您自觉维护公共秩序。未经准许，机动车一律不得入园;禁止携带猫、狗、禽、畜入园;请勿在园
                内捡拾垃圾物品和行乞。<br>3、请您自觉遵守法律法规。禁止在园内进行非法经营，迷信活动和低俗不
                健康行为;请勿在公园内兜售物品;请勿在园内散发、张贴、悬挂任何形式的广告、宣传品严禁以任
                何形式进行赌博和其他非法活动。<br>4、请您注意自身游览安全。不得携带危险品入园;注意公园的安
                全警示标志，不得进行涉水、攀爬和生火等危险性活动;<br>5、请您爱护公园花草树木。不采摘花果
                ，攀援树木，不采挖植物，捕捉动物，不在树上拉绳挂物。<br>6、请您爱护公共游览设施。不在建筑
                物、构筑物、设施树木上涂写、刻划、钉钉，不在路椅上躺卧<br>7、您爱护公园环境卫生。不随地吐
                痰、便溺或乱扔果皮柳烟头、口香糖残渣等废弃物。<br>8、请您不要擅自圈占公共区域活动，或在活
                动中制造违反国家有关环境噪声排放标准的噪声影响他人<br>二、温馨提示<br>1、注意保管好自己的随身
                物品，以防丢失;儿童、行动不便的老人须在家人的陪同下游园;<br>2、游客服务咨询电话:028-83583439
                <br>
            <p style="text-align: center;">24小时值班电话:028-81142110</p>
            </p>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>
