<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/天气.css">
    <title>天气</title>
</head>
<body>
    <div id="app">
           <p>城市天气</p>
            <div class="input">
                <input type="text" @keyup.enter="searchWeather"
                 v-model="city" placeholder="请输入要了解的城市">
                <button @click='searchWeather'>搜索</button>
            </div>
            <ul class="city">
                <li @click="clickWeather('北京')">北京</li>
                <li @click="clickWeather('上海')">上海</li>
                <li @click="clickWeather('广州')">广州</li>
                <li @click="clickWeather('深圳')">深圳</li>
            </ul>
            <div class="weather">
                <ul>
                    <li v-for='(item,index) in weather'>
                        <p>{{item.type}}</p>
                        <p>{{item.low}}-{{item.high}}</p>
                        <p>{{item.date}}</p>
                    </li>
                </ul>
            </div>
    </div>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                city:"兰州",
                weather:[]
            },
            //接口http://wthrcdn.etouch.cn/weather_mini
            methods:{
              searchWeather:function(){
                // console.log('天气查询');
                // console.log(this.city);
                var that = this
                axios.get("http://wthrcdn.etouch.cn/weather_mini?city="+this.city).then(function(a){
                    // console.log(a.data.data.forecast)
                    that.weather=a.data.data.forecast
                }).catch(function(err){
                    alert('获取失败')
                })
              },
              clickWeather:function(city) {
                this.city=city;
                this.searchWeather();
            }
            }
        })
    </script>
</body>
</html>
