<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0 ,minimum-scale=1.0, user-scalable=0">
    <script src="lib/vue.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="lib/swiper.css">
    <title>首页</title>
</head>

<body>
    <div id="app">
        <!-- //底部导航栏 -->
        <div class="footer flex flex-j-c flex-a-i" v-show="footer">
            <p @click='changepage1' :class='{blue:page1}'><i
                    class="iconfont icon-music flex flex-d flex-j-c flex-a-i"></i><span>云音乐</span></p>
            <p @click='changepage2' :class='{blue:page2}'><i
                    class="iconfont icon-shiping flex flex-d flex-j-c flex-a-i"></i><span>视频</span></p>
            <p @click='changepage3' :class='{blue:page3}'><i
                    class="iconfont icon-wode-copy flex flex-d flex-j-c flex-a-i"></i><span>我的</span></p>
        </div>
        <!-- //导航栏切换的三个页面 -->
        <div class="page1" v-show='page1'>
            <!-- swiper  -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/01.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="img/02.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="img/03.jpg" alt=""></div>
                </div>
            </div>
            <!-- swiper-end  -->
            <ul class='page1_ul'>
                <h3>最近在听></h3>
                <li v-for="(item,i) in list" @click='clickpic(item.id,item.name,i)'>
                    <img :src="picurl[i]">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div class="page2" v-show='page2'></div>
        <div class="page3" v-show='page3'></div>
        <div class="page4" v-show='page4'></div>
        <!-- //顶部搜索框 组件可以通过自定义属性来绑定vue实例的数据或者方法 组件可以用this.$emit('prototy...')-->
        <com1 class="com1" v-show="page1||page2||page4" @func="changepage4()" @fun="musicUrl()" ref="com1"></com1>
        <com2 class="com2" ref="com2" v-if="coms2" @func="lastsongs()"></com2>
        <!-- 背景图 -->
        <div class="backimg">
            <img :src="cover" alt="">
        </div>
        <div class="mvs" v-if="page5" @click='abc'>
            <i class="iconfont icon-fanhui mvss"></i>
            <video :src="mv" autoplay="autoplay" controls></vide>
        </div>
    </div>

    <!-- 组件 -->
    <template id="temp2">
        <div>
            <input type="text" class="com1-input" placeholder="请输入要搜索的歌曲" @click='cominput' v-model.trim='songname'
                @keyup.space="keyup" @keyup.enter="keyup">
            <i class="iconfont icon-search" @click="keyup"></i>
            <ul class="com1_ul" v-show="this.$root.page4">
                <li v-for="(item,index) in list" @click='clickSongName(item.id,index)'>{{index+1}}.{{item.name}}
                    <span class="iconfont icon-mv" v-if="item.mvid!=0" @click.stop="playmv(item.mvid)"></span>
                </li>
            </ul>
        </div>
    </template>
    <!-- //com2 -->
    <template id="temp3">
        <div id="player">
            <img :src="picUrl" alt="">
            <p id="songname">{{songname}}</p>
            <span id='play' @click='stop' :class="{iconfont:true,'icon-bofang':play,'icon-stop':!play}"></span>
            <span id="lastsong" class="iconfont icon-67xiayiqu" @click='lastsong'></span>
            <span id="more" class="iconfont icon-gengduo"></span>
            <audio :src="url" autoplay="autoplay" loop="loop"></audio>
        </div>
    </template>

    <script src="lib/swiper.js"></script>

</body>

</html>