<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/植物科普.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材1/8.png">
    </div>
    <div class="nav">
        <p><span>科普教育</span><span>/Popular Science Education</span></p>
        <p>
            <span style="color: rgb(23, 148, 6);">植物科普</span>
            <a href="./园区科普.html"><span>园区科普</span></a>
        </p>
    </div>
    <div class="box">
        <h3>藏在成都的大话植物</h3>
        <div class="boxs">
            <div class="boxs-img">
                <img src="../../img/素材1/6.jpg" alt="">
            </div>
            <div>
                <p>
                    红遍抖音的彼岸花成都也有啦!<br>又名石蒜，花开不见叶，叶盛不见花<br><br>地址:<br>金堂县金堂大道侧花仙谷<br>金牛区外北天回镇蓉都大道1116号<br>成华区八里桥与五福桥东路交叉口南200米
                </p>
            </div>
        </div>
        <div class="boxs">
            <div class="boxs-img">
                <img src="../../img/素材1/7.png" alt="">
            </div>
            <div>
                <p>
                    虞美人
                    又名丽春花<br>通常情况下，一种花会因为其外形、花期、产地等，而被赋了一定的意义。而虞美人在东西方文化里的意义，出奇的致，都与战争相关。这和它美丽纤弱的外表，似平形成了某种反差。<br><br>地址:<br>总府路街心花园
                </p>
            </div>
        </div>
        <div class="boxs">
            <div class="boxs-img">
                <img src="../../img/素材1/5.png" alt="">
            </div>
            <div>
                <p>
                    曼陀罗又名万桃花，山茄子等<br><br>曼陀罗的花名取自梵语曼陀罗华，意译可为悦意花。《法华经.序品》:“是时天雨曼陀罗华。”于是，这种和佛有缘的花也常被栽培于各地的寺院中，成为一种很“佛系”的观赏花卉。<br><br>地址:<br>大慈寺
                </p>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>