<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <link rel="stylesheet" href="../../css/分区浏览.css">
    <style>
        p {
            line-height: 25px;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材2/后山背景滚动图.png">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <span><a href="../四季览园/四季览园.html" style="color: aliceblue;">四季览园</a></span>
            <span><a href="../园致景观/分区浏览.html" style="color: rgb(23, 148, 6);">园致景观</a></span>
            <span><a href="../主题花展/主题花展.html" style="color: aliceblue;">主题花展</a></span>
        </p>
    </div>
    <div class="boxx" style="height: 400px;">
        <div class="boxss1 boxss">
            <img src="../../img/素材2/圆块.png" alt="">
            <h3>分区浏览</h3>
        </div>
        <a href="./大草坪.html">
            <div class="boxss2 boxss">
                <img src="../../img/素材2/蓝块.png" alt="">
                <p>点击进入>></p>
                <h3>大草坪</h3>
                <h4>Large area green planting</h4>
            </div>
        </a>
        <a href="./后山生态林.html">
            <div class="boxss3 boxss">
                <img src="../../img/素材2/黄块.png" alt="">
                <h3>后山生态林</h3>
                <h4>Natural ecological forest</h4>
            </div>
        </a>
        <a href="./沙漠植物管.html">
            <div class="boxss4 boxss">
                <img src="../../img/素材2/绿大快.png" alt="">
                <h3>沙漠植物管</h3>
                <h4>Desert plant museum</h4>
            </div>
        </a>
        <a href="./植物科普馆.html">
            <div class="boxss5 boxss">
                <img src="../../img/素材2/绿小块.png" alt="">
                <h3>青少年<br>植物科普馆</h3>
                <h4>Museum of plant science</h4>
            </div>
        </a>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>