<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <link rel="stylesheet" href="../../css/后山生态林.css">
    <style>
        p {
            line-height: 25px;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材2/后山背景滚动图.png">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <span><a href="../四季览园/四季览园.html" style="color: aliceblue;">四季览园</a></span>
            <span><a href="../园致景观/分区浏览.html" style="color: rgb(23, 148, 6);">园致景观</a></span>
            <span><a href="../主题花展/主题花展.html" style="color: aliceblue;">主题花展</a></span>
        </p>
    </div>
    <div class="boxx" style="height: 950px;">
        <h3>后山生态林</h3>
        <h4>Natural ecological forest</h4>
        <p>生态林是指为维护和改善生态环境，保持生态平衡，保护生物多样性等满足人类社会的生态、
            社会需求和可持续发展为主体功能的森林、林木和林地。<br><br>生态林的种类:一、防护林:主要包
            括水土涵养林、水土保持林、防风固沙林、农田防护林、护岸林、护路林、其他防护林;二、
            特种用途林:自然保护区林、环境保护林、风景林、国防林、实验林、母树林、名胜古迹和革
            命纪念林。<br><br>怎么算生态林?<br>1、造林树种。人工培育。<br>2、造林密度。乔木树种营造的生态林，
            南方下限为每亩100株(竹类为35株)北方为120株;灌木树种营造的生态林，南方下限为每亩
            150株，北方为170株。附表3中的以生态效益为主的兼用树种，其造林密度达到《造林技术规
            程》要求。<br>3、植被配置。人为添加利于植物生长的配置设施。<br>4、经营措施。生态林经营主要
            是利用自然地力形成和恢复林分植被。禁止采取大面积的垦复、松土、割灌、除草等抚育措施。</p>
        <h4 style="text-align: start;">相关照片>></h4>
        <div class="box-img">
            <img src="../../img/素材2/后山相关图 (1).png" alt="">
            <img src="../../img/素材2/后山相关图 (4).png" alt="">
            <img src="../../img/素材2/后山相关图 (2).png" alt="">
            <img src="../../img/素材2/后山相关图 (3).png" alt="">
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>