<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <link rel="stylesheet" href="../../css/大草坪.css">
    <style>
        p {
            line-height: 25px;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材2/草坪背景图.png">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <span><a href="../四季览园/四季览园.html" style="color: aliceblue;">四季览园</a></span>
            <span><a href="../园致景观/分区浏览.html" style="color: rgb(23, 148, 6);">园致景观</a></span>
            <span><a href="../主题花展/主题花展.html" style="color: aliceblue;">主题花展</a></span>
        </p>
    </div>
    <div class="boxx" style="height: 850px;">
        <h3>大草坪</h3>
        <h4>Large area green planting</h4>
        <p>夏日的大草坪，就像-幅秀美的风景画。小草青青，树荫浓浓，目光所及，清新明媚，
            一片绿意盎然。<br><br>大自然的美景让新人们心旷神怡，激情澎湃，蓝天碧云下，鸟鸣花香里
            ，Ta们享受着大自然的馈赠，在草坪上尽情地牵手、拥抱、漫步，微笑嬉闹，无需刻意
            地摆拍，彼此间的幸福毫不遮掩地肆意流淌，让整个大草坪都充满了幸福的味道。镜头
            记录下的每一帧都是温柔与甜蜜，唯美与浪漫。<br><br>大草坪是成都植物园全年人气较旺的地方
            ，这里平坦广阔，风物闲美，每天至少有5对新人来拍婚纱照，被誉为成都最美婚纱摄影地<br><br>
            。2万平米的大草坪给足了人们施展的空间，在这里除了拍婚纱照，还可以美丽七十二变，
            汉服小仙女，民国大美女，
            动画小帅哥，想怎么美就怎么拍，美丽的大草坪可以满足市民所有的幻想。</p>
        <h4 style="text-align: start;">相关照片>></h4>
        <div class="box-img">
            <img src="../../img/素材2/草坪相关图 (2).png" alt="">
            <img src="../../img/素材2/草坪相关图 (1).jpg" alt="">
            <img src="../../img/素材2/草坪相关图 (2).jpg" alt="">
            <img src="../../img/素材2/草坪相关图 (1).png" alt="">
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>