<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/园区科普.css">
    <link rel="stylesheet" href="../../css/后山生态林.css">
    <style>
        .boxx {
            background: url(../../img/素材2/bg.png);
            background-size: 100% 100%;
            font-size: 13px;
            padding: 10px;
        }

        .boxx p {
            line-height: 25px;
        }

        .boxx h3,
        .boxx h4 {
            text-align: center;
            margin: 15px 0;
        }

        .boxx img {
            width: 47%;
            margin-left: 7px;
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材2/沙漠滚动图.png">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <span><a href="../四季览园/四季览园.html" style="color: aliceblue;">四季览园</a></span>
            <span><a href="../园致景观/分区浏览.html" style="color: rgb(23, 148, 6);">园致景观</a></span>
            <span><a href="../主题花展/主题花展.html" style="color: aliceblue;">主题花展</a></span>
        </p>
    </div>
    <div class="boxx" style="height: 860px;">
        <h3>沙漠植物馆</h3>
        <h4>Desert plant museum</h4>
        <p>
            仙人掌、龙舌兰、量天尺，这些沙生植物总是有着不同寻常的外表，大抵是因为生存环境恶劣，自成家风骨。据不完全统计，全世界共有
            10000余种多肉植物，在上一篇文章中介绍呆萌的小型多肉植物时，就被它们为适应环境所迸发的无限“巧思”所震撼，今天我们再来看看
            大型多肉植物是怎样在严酷的环境中自由生长吧!<br><br>仙人掌类的植物身上的刺，由叶片退化而来，短小坚硬的刺不仅可以降低植株因蒸腾作用
            散失的水分，让自身远离小动物的啃食，井且能够使空气中的水分凝结成小水珠，流淌到植株根部，在恶劣的条件下，它们用尽全力，进
            发无限灵感，去汲取水分，努力生存，“沙漠英雄花”的美名，当真实至名归。与它们朴素的外表相较，大多数仙人掌的花都色泽艳丽，雨
            季来临时，迅速地吸收水分，展露花蕾，像是庆贺这久违的甘露。<br><br>著名的作家三毛女士曾在书中写道“如果有来生，要做一棵树，站成永恒
            。没有悲欢的姿势，-半在尘土里安详，一半在风里飞扬;--半洒落阴凉，-半沐浴阳光。非常沉默、非常骄傲。从不依靠、从不寻找。”沙
            生植物便是这样骄傲的存在，独立又飒爽。
        </p>
        <h4 style="text-align: start;">相关照片>></h4>
        <div class="box-img">
            <img src="../../img/素材2/沙漠相关图 (3).png" alt="">
            <img src="../../img/素材2/沙漠相关图 (4).png" alt="">
            <img src="../../img/素材2/沙漠相关图 (1).png" alt="">
            <img src="../../img/素材2/沙漠相关图 (2).png" alt="">
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>