<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/关于我们.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner">
        <img src="../../img/素材3/关于我们/大图.png" alt="">
        <div class="banner-nav">
            <ul>
                <a style="color: #000;" href="../园致景观/分区浏览.html">
                    <li>园林园艺</li>
                </a>
                <a style="color: #000;" href="../科普教育/园区科普.html">
                    <li>科普教育</li>
                </a>
                <a style="color: #000;" href="../游客服务/交通.html">
                    <li>游客服务</li>
                </a>
                <li style="color: #fff;">关于我们</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <div class="left1">
                <img src="../../img/素材3/关于我们/圆形图小.png" alt="">
                <p><span><a href="./植物园简介.html" style="color: #000;">植物园简介</a></span><br><span>About the Botanical
                        Garden</span></p>
            </div>
            <div class="left1">
                <img src="../../img/素材3/关于我们/方形图小.png" alt="">
                <a style="color: #000;" href="./联系我们.html">
                    <p><span>联系我们</span><br><span>Contact Us</span></p>
                </a>
            </div>
        </div>
        <div class="right">
            <span>About us</span>
            <span>关<br>于<br>我<br>们</span>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>