<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/植物园简介.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材3/植物园简介/大图.png">
    </div>
    <div class="nav">
        <p><span>关于我们</span><span>/About Us------</span></p>
        <p><span style="color: rgb(23, 148, 6);">植物园简介</span><a href="./联系我们.html"><span>联系我们</span></a></p>
    </div>
    <div class="box">
        <img class="img-one" src="../../img/素材3/植物园简介/小花1.png" alt="">
        <img class="img-two" src="../../img/素材3/植物园简介/小花1.png" alt="">
        <img class="img-three" src="../../img/素材3/植物园简介/小花1.png" alt="">
        <img class="img-four" src="../../img/素材3/植物园简介/叶子.png" alt="">
        <h2>植物园简介</h2>
        <h4>About the Botanical Garden</h4>
        <p>成都市植物园(成都市公园城市植物科学研究院)面积42公顷，位于成都市北郊天回镇(104 E，3040
            N)，紧靠川陕公路，距市区10公里。1983年3月28日，经成都市人民政府批准在原成都天回山林场新建为”成都市植物园";1987年2月16日，经成都市人民政府批准，成都市植物园与成都市园林科学研究所正式合署办公;2019年11月4日，经市委编办批准，成都市植物园加挂“市公园城市植物科学研究院”牌子，不再保留“市园林科学研究所”牌子。成都市植物园(成都市公园城市植物科学研究院)隶属于成都市公园城市建设管理局，为公益一类事业单位，内设机构有植物研究中心、园林园艺研究中心科技成果推广中心、园庭建设部、科教经营部、党群综合部。<br><br>园内现保存植物2000余种，其中有国家一、二、三级保护植物银杉、珙桐、金钱松等130多种，承担植物迁地保护、引种驯化和选育、城市园林植物的栽培、繁育、园林植物有害生物预警等任务，功能涵盖科研科普、引种驯化和旅游服务。建园30余年来，共完成科研项目70余项，其中对芙蓉和荚蓬属植物的研究达到国际和国内领先水平。有较为规范的科普设施成都市青少年植物科普馆、沙生植物馆。<br><br>在园林植物、花卉栽培、繁育病虫害防治、植物种质基因移地保护、植物引种驯化，特别是在芙蓉花等植物研究应用方面取得了突出成就，已有百余种优质品种在成都、北京、杭州、南京等城市园林建设中得到广泛应用，为改善城市环境做出了贡献。<br><br>经过30多年的建设和发展，成都市植物园已建成为集科研科普、旅游休闲服务于一体的综合性植物园。建有多个植物专类园:芙蓉园、樱花园、茶花园、腊梅园、木兰园、海棠园、梨花园、桂花园、梅园、以及大草坪等。园内树木参天，浓荫蔽日，百花争艳，百鸟翔集，湖池清澈，曲径通幽，空气清新，环境雅致。春风吹过，林涛声犹响在耳际，飞鸟掠过，天籁之声宛转和鸣;草地上孩子们在打滚嬉戏、放风筝，灿烂的笑容犹如盛开的花朵。<br><br>成都市植物园，一处风景如画的人间天堂;<br>-个离家最近的天然氧吧!<br>一处离健康最近的好地方!
        </p>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>