<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/联系我们.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材3/联系我们/大图.png">
    </div>
    <div class="nav">
        <p><span>联系我们</span><span>/Cantant Us</span></p>
        <p><a href="./植物园简介.html"><span>植物园简介</span></a><span style="color: rgb(23, 148, 6);">联系我们</span></p>
    </div>
    <div class="box">
        <img class="one bg-img" src="../../img/素材3/联系我们/图标1.png">
        <img class="two bg-img" src="../../img/素材3/联系我们/图标2.png">
        <img class="three bg-img" src="../../img/素材3/联系我们/图标3.png">
        <img class="four bg-img" src="../../img/素材3/联系我们/图标4.png">
        <img class="five bg-img" src="../../img/素材3/联系我们/图标5.png">
        <ul class="box-ul">
            <li>成都市北郊天回镇</li>
            <li>610083</li>
            <li>028-83583439</li>
            <li>028-8358552</li>
            <li>cdswy@dszwy.com</li>
        </ul>
        <table>
            <tr>
                <td>姓名：</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>联系电话：</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>QQ：</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>标题：</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>E-mail ：</td>
                <td><input type="text"></td>
            </tr>
        </table>
        <p class="liuyan" style="z-index: 100;">您有任何问题都可以留言哦</p>
        <div class="callme">
            <h1>联系我们</h1>
            <h3>Cantanct Us</h3>
        </div>
        <img class="six" style="z-index: 10;" src="../../img/素材3/联系我们/上花.png" alt="">
        <img class="seven" src="../../img/素材3/联系我们/下花.png" alt="">
        <img class="eight" src="../../img/素材3/联系我们/对话框.png" alt="">
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Contact Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>