<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/春夏秋冬.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材/冬/轮播图.jpg">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <a href="./四季览园.html"><span style="color: rgb(23, 148, 6);">四季览园</span></a>
            <a href="../园致景观/分区浏览.html"><span>园致景观</span></a> <a href="../主题花展/主题花展.html"><span>主题花展</span></a>
        </p>
    </div>
    <div class="box">
        <h3>冬/Winter</h3>
        <div class="box1">
            <img src="../../img/素材/冬/1.jpg" alt="">
            <div>
                <p>茶花</p>
                <p>别名:山茶花、耐冬花</p>
                <p>颜色:红、紫、白、黄、斑纹等</p>
                <p>花期:冬春两季，习性:惧风喜阳功效:入药，治吐血咳嗽,治痢疾</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/冬/2.jpg" alt="">
            <div>
                <p>金花茶</p>
                <p>别名:黄色山茶颜色:黄色</p>
                <p>花期:11-12月</p>
                <p>习性:喜温暖湿润气候，喜欢排水良好的酸性土壤功效:具有降血糖和尿糖作用,能有效的改善糖尿病“三高”</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/冬/3.jpg" alt="">
            <div>
                <p>银杉</p>
                <p>别名:衫公子</p>
                <p>颜色:绿色</p>
                <p>期:全年，果期10月</p>
                <p>习性:具有喜光、喜雾、耐寒性较强功效:制做家具的.上等材料木兰别名:辛夷，</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/冬/4.jpg" alt="">
            <div>
                <p>木兰</p>
                <p>颜色:种子褐色</p>
                <p>花期:花期4月中旬至5月上旬,</p>
                <p>功效:提炼芳香油、解毒、止吐止泻等功效。紫藤皮则有杀虫、痛、祛风通络等作用;</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/冬/5.jpg" alt="">
            <div>
                <p>雾凇</p>
                <p>别名:树挂</p>
                <p>颜色:乳白色 </p>
                <p>花期:花期4月，果期10月 </p>
                <p>形成条件:冬季寒冷漫长，又要求空气中有充足的水汽，天晴少云，又静风，或是风速很小</p>
                <p>种类:硬凇和软凇</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/冬/6.jpg" alt="">
            <div>
                <p>红彩云阁</p>
                <p>别名：红龙骨</p>
                <p>颜色：红、绿</p>
                <p>花期：7-12月</p>
                <p>习性：喜温暖干燥和阳光充足</p>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>