<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/四季览园.css">
    <style>
        a {
            color: #000;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材/四季览园/夏图.jpg">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <a href="./四季览园.html"><span style="color: rgb(23, 148, 6);">四季览园</span></a>
            <a href="../园致景观/分区浏览.html"><span>园致景观</span></a> <a href="../主题花展/主题花展.html"><span>主题花展</span></a>
        </p>
    </div>
    <div class="box">
        <h3>四季览园</h3>
        <div class="box1">
            <img src="../../img/素材/四季览园/春图.png" alt="">
            <div>
                <a href="./春.html">
                    <p>春</p>
                    <p>等闲识得春风面，</p>
                    <p>万紫千红总是春。</p>
                </a>
            </div>
        </div>
        <div class="box1">
            <div>
                <a href="./夏.html">
                    <p>夏</p>
                    <p>正是红稀绿暗时，</p>
                    <p>花如圆玉莹无疵。</p>
                </a>
            </div>
            <img src="../../img/素材/四季览园/夏图.jpg" alt="">
        </div>
        <div class="box1">
            <img src="../../img/素材/四季览园/秋图.png" alt="">
            <div>
                <a href="./秋.html">
                    <p>秋</p>
                    <p>停车坐爱枫林晚，</p>
                    <p>霜叶红于二月花。</p>
                </a>
            </div>
        </div>
        <div class="box1">
            <div>
                <a href="./冬.html">
                    <p>冬</p>
                    <p>寒江雪柳日新晴，</p>
                    <p>玉树琼花满目春。</p>
                </a>
            </div>
            <img src="../../img/素材/四季览园/冬图.jpg" alt="">
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>