<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/春夏秋冬.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材/夏/轮播图.jpg">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <a href="./四季览园.html"><span style="color: rgb(23, 148, 6);">四季览园</span></a>
            <a href="../园致景观/分区浏览.html"><span>园致景观</span></a> <a href="../主题花展/主题花展.html"><span>主题花展</span></a>
        </p>
    </div>
    <div class="box">
        <h3>夏/Summer</h3>
        <div class="box1">
            <img src="../../img/素材/夏/1.jpg" alt="">
            <div>
                <p>绣球</p>
                <p>别名:八仙花、粉团花等</p>
                <p>颜色:粉红色、淡蓝色或白色</p>
                <p>花期:花期6-8月</p>
                <p>习性:喜温暖、湿润和半阴环境</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/夏/2.jpg" alt="">
            <div>
                <p>大花葱</p>
                <p>别名:煎花、巨葱</p>
                <p>颜色:花色紫红</p>
                <p>花期:5-7月习性:性喜凉爽阳光充足的环境忌湿热多雨，忌连作、半阴，疏松肥沃的沙壤土，忌积水</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/夏/3.jpg" alt="">
            <div>
                <p>金琥：</p>
                <p>别名:黄刺金琥，是仙人掌科颜色:碧绿的球体及金黄色硬刺</p>
                <p>花期:6-10月开花</p>
                <p>习性:喜暖、喜阳、喜干燥，畏寒、忌湿、好生于含石灰的沙质土</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/夏/4.jpg" alt="">
            <div>
                <p>紫苑花期:</p>
                <p>别名:青苑、紫倩、小辫</p>
                <p>颜色:紫色</p>
                <p>花期7-9月;果期8-10月习性:耐涝、怕干旱，耐寒性强功效:治风寒咳嗽气喘,虛劳咳吐脓血之功效</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/夏/5.jpg" alt="">
            <div>
                <p>槛藤</p>
                <p>别名:眼镜豆、大血等</p>
                <p>颜色:外皮棕褐色或灰棕色</p>
                <p>花期:花期3-6月;果期8-11月</p>
                <p>习性:生于海拔600-1600米的山涧或山坡灌木丛、混交林中,功效:活血祛风，壮腰固肾。茎皮有催吐、泄泻效果颜色:玫瑰色、红紫色、粉红色至白色</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/夏/6.jpg" alt="">
            <div>
                <p>百日菊花期:花期6-9月，</p>
                <p>别名:步步高、火球花等</p>
                <p>颜色:深红色、玫瑰色、紫堇色或白色 </p>
                <p>果期7-10月 </p>
                <p>习性:喜阳光、怕酷暑、耐干旱、瘠薄、忌连作功效:治发热，口腔炎、牙痛</p>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>