<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/春夏秋冬.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材/春/轮播图.jpg">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <a href="./四季览园.html"><span style="color: rgb(23, 148, 6);">四季览园</span></a>
            <a href="../园致景观/分区浏览.html"><span>园致景观</span></a> <a href="../主题花展/主题花展.html"><span>主题花展</span></a>
        </p>
    </div>
    <div class="box">
        <h3>春/Spring</h3>
        <div class="box1">
            <img src="../../img/素材/春/1海棠花.jpg" alt="">
            <div>
                <p>海棠花</p>
                <p>颜色:老时红褐色或紫褐色</p>
                <p>花期:花期4-5月，果期8-9月是中国的特有植物</p>
                <p>习性:性喜阳光，不耐阴，忌水湿，耐寒</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/春/2桫棰珙桐.jpg" alt="">
            <div>
                <p>桫棰珙桐</p>
                <p>颜色:树皮深灰色或深褐色</p>
                <p>花期:花期4月开花，10月结果国家
                    一级重点保护野生植物，为中国特有的单
                    属植物，也是全世界著名的观赏植物。</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/春/3美人梅.jpg" alt="">
            <div>
                <p>美人梅</p>
                <p>颜色:紫红色，花粉红色</p>
                <p>花期:春季</p>
                <p>法国引进</p>
                <p>习性:喜阳光充足、通风良好、开阔的环境。</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/春/4紫藤.jpg" alt="">
            <div>
                <p>紫藤</p>
                <p>颜色:种子褐色</p>
                <p>花期:花期4月中旬至5月上旬,</p>
                <p>功效:提炼芳香油、解毒、止吐止泻等功效。紫藤皮则有杀虫、痛、祛风通络等作用;</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/春/5牡丹.jpg" alt="">
            <div>
                <p>牡丹</p>
                <p>别名:木芍药、富贵花等</p>
                <p>颜色:玫瑰色、红紫色、粉红色至白色</p>
                <p>花期:花期5月，果期6月</p>
                <p>有“国色天香”之称，花中之王是中国特有的木本名贵花卉。</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/春/6榉树.jpg" alt="">
            <div>
                <p>榉树</p>
                <p>别名:光叶榉</p>
                <p>颜色: 树皮为灰白色或者为褐灰色 </p>
                <p>花期:花期4月，果期10月 </p>
                <p>功效:止热痢,</p>
                <p>安胎主妊娠人腹痛</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/春/白梨.png" alt="">
            <div>
                <p>白梨</p>
                <p>颜色: 花色洁白,如同雪花</p>
                <p>花期:春季开花</p>
                <p>功效:润肺、化痰、止咳和解酒</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/春/8绣球荚蒾.jpg" alt="">
            <div>
                <p>绣球荚蓬</p>
                <p>类型:忍冬科荚莲属落叶或半常绿灌木</p>
                <p>颜色:灰白色或黄白色</p>
                <p>花期:4-5月开花</p>
                <p>习性:喜光，略耐阴，喜温暖湿润气候，较耐</p>
            </div>
        </div>

    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>