<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/commen.css">
    <link rel="stylesheet" href="../../css/春夏秋冬.css">
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../img/素材/秋/轮播图.jpg">
    </div>
    <div class="nav">
        <p><span>园林园艺</span><span>/Landscape gardening</span></p>
        <p>
            <a href="./四季览园.html"><span style="color: rgb(23, 148, 6);">四季览园</span></a>
            <a href="../园致景观/分区浏览.html"><span>园致景观</span></a> <a href="../主题花展/主题花展.html"><span>主题花展</span></a>
        </p>
    </div>
    <div class="box">
        <h3>秋/Autumn</h3>
        <div class="box1">
            <img src="../../img/素材/秋/1.jpg" alt="">
            <div>
                <p>朱瑾</p>
                <p>别名:扶桑、佛槿、中国蔷薇</p>
                <p>颜色:大多为红色</p>
                <p>花期:花期全年</p>
                <p>习性:性喜温暖、湿润，要求日光充足，不耐阴、旱、寒功效:清热利水、解毒消肿这中国广西首府南宁市市花</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/秋/2.jpg" alt="">
            <div>
                <p>芦苇</p>
                <p>别名:芦苇芦、苇、葭、兼</p>
                <p>颜色:白绿色和褐色</p>
                <p>花期:8-10月习性:生于江河湖泽、池塘沟渠沿岸和低湿地功效:净化污水，造纸工业的原材料。</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/秋/3.jpg" alt="">
            <div>
                <p>银桂</p>
                <p>颜色:花近白色或黄白色</p>
                <p>花期:花期9-10月果期翌年3月</p>
                <p>习性:弱阳性，喜温暖湿润功效:治痰饮咳喘,脘腹冷痛,经闭痛经,腹痛,牙痛,口臭</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/秋/4.jpg" alt="">
            <div>
                <p>芙蓉花</p>
                <p>别名:拒霜花、木莲、华木等</p>
                <p>颜色:清晨乳白、粉红色，傍晚变为深红</p>
                <p>花期:花期10-11月习性:喜温暖、湿润，耐水湿功效:清热解毒，凉血止血之效成都市市花</p>
            </div>
        </div>
        <div class="box1">
            <img src="../../img/素材/秋/5.jpg" alt="">
            <div>
                <p>金玲花</p>
                <p>别名:灯笼花、网花苘麻、红脉商麻，</p>
                <p>属于常绿灌木颜色:橙黄</p>
                <p>花期:花期5-10月习性:喜温暖及阳光充足，稍耐阴功效:活血祛瘀，舒筋通络</p>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>