<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/首页.css">
    <style>
        a {
            color: #111;
        }
    </style>
</head>

<body>
    <div class="logo">
        <div class="logo-left">
            <img src="../img/LOGO.png" alt="">
            <div class="logo-text">
                <h1>成都市植物园</h1>
                <p>CHENGDU BOTANCAL GARDEN</p>
            </div>
        </div>
        <div class="logo-right">
            <a href="../view/导航.html">
                <p></p>
                <p></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="banner">
        <img src="../img/素材/首页/轮播图.jpg" alt="">
    </div>
    <div class="banner-nav">
        <ul>
            <a href="./四季览园/四季览园.html">
                <li>园林园艺</li>
            </a>
            <a href="./科普教育/植物科普.html">
                <li>科普教育</li>
            </a>
            <a href="./游客服务/交通.html">
                <li>游客服务</li>
            </a>
            <a href="./关于我们/关于我们.html">
                <li>关于我们</li>
            </a>
        </ul>
    </div>
    <div class="news">
        <h2>成都植物园即日起每日接待人数<br>下调至常规接待量的60%</h2>
        <p>根据成都市疫情防控工作统一部署，强化落实“限量、<br>预约、错峰”要求，成都植物园即日起每日接待人数<br>下调至常规接待量的60%。</p>
    </div>
    <div class="img1">
        <p style="margin-bottom: 10px;">科普教育/Popular Science Education</p>
        <div class="img">
            <div>
                <img src="../img/素材/首页/植物科普.jpg" alt="">
                <a href="./科普教育/植物科普.html">
                    <p><span>植物科普</span><span>更多></span></p>
                </a>
            </div>
            <div>
                <img src="../img/素材/首页/园区科普.jpg" alt="">
                <a href="./科普教育/园区科普.html">
                    <p><span>园林园艺</span><span>更多></span></p>
                </a>
            </div>
        </div>
    </div>
    <div class="img1 img2">
        <p style="margin-bottom: 10px;">园林园艺/Landscape gardening</p>
        <div class="img">
            <div>
                <img src="../img/素材/首页/夏.jpg" alt="">
                <a href="./四季览园/夏.html">
                    <p><span>夏</span><span>更多></span></p>
                </a>
            </div>
            <div>
                <img src="../img/素材/首页/秋.jpg" alt="">
                <a href="../view/四季览园/秋.html">
                    <p><span>秋</span><span>更多></span></p>
                </a>
            </div>
        </div>
    </div>
    <div class="hotal-serve">
        <p style="font-size: 16px;padding-bottom: 10px;">游客服务/Tourist service</p>
        <div class="img">
            <div class="one">
                <img src="../img/素材/首页/游客服务.jpg" alt="">
                <p><span>相关信息</span><span>更多></span></p>
            </div>
            <div class="two">
                成都市植物园开放时间<br>1月1日-5月31日7:00-19:00<br>6月1日-8月31日6:30-20:00<br>9月1日-12月31日7:00-19:00<br>(其中每周一例行闭馆检查)<br>请广大游客朋友<br>在公示的时间内入园参观
            </div>
        </div>
    </div>
    <footer>
        <p style="font-size: 14px;">联系我们/Cantanct Us</p>
        <p>电话：028-83583439</p>
        <div class="footers">
            <div class="left">
                <p>地址：成都市北郊天回镇</p>
                <p>邮编：610083</p>
            </div>
            <div class="right">
                <p>传真：025-83585552</p>
                <p style="color: rgb(61, 21, 156);">蜀ICP备19013962</p>
            </div>
        </div>
        <p>Copyright 2008-2016A11 Rights Reserved</p>
        <p>备案号：蜀ICP备19013962号 技术支持：DGG</p>
    </footer>
</body>

</html>